Source: hemi
Section: python
Priority: optional
Maintainer: Ilya Novoselov <ilya.novoselov@gmail.com>
Build-Depends:
    python-all-dev,
    python-all-dbg,
    debhelper (>= 8.1.0~),
    python-support (>= 0.90),
    libv8-dev
Standards-Version: 3.9.2
Homepage: https://github.com/nullie/python-hemi
Vcs-Git: git://github.com/nullie/python-hemi.git
Vcs-Browser: https://github.com/nullie/python-hemi

Package: python-hemi
Architecture: any
Depends:
    ${python:Depends},
    ${misc:Depends},
    ${shlibs:Depends}
Description: lightweight python v8 bindings

Package: python-hemi-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
    ${python:Depends},
    ${misc:Depends},
    ${shlibs:Depends},
    python-hemi (= ${binary:Version})
Recommends:
    python-dbg,
    libv8-dbg
Description: lightweight python v8 bindings (debug package)
